@model WebApplication4.Models.AntremanProgram

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AntremanProgram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AntremanBaslama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntremanBaslama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntremanBitis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntremanBitis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GunNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GunNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Antreman.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Antreman.Ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.No }) |
    @Html.ActionLink("Back to List", "Index")
</p>
